<!DOCTYPE html>
<html>
<body>
  <link rel="stylesheet" href="static/style.css">
  <div id="root">
    <h1>Welcome user!</h1>
    <% for(var i=0; i<results.temp_rangelength; i++){ %>
      <h1><%= articles[i].title %></h1>
      <h3><%= articles[i].author %></h3>
      <h4><%= articles[i].date %></h4>
      <% } %>
  </div>
</body>
</html>
