<!DOCTYPE html>
<html>
<body>
  <link rel="stylesheet" href="static/style.css">
  <div id="root">
    <h1>Welcome admin!</h1>
    <form method="POST" action="/submit-data" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" />
    </form>
  </div>
</body>
</html>
